extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p 
        | Welcome to Epic Expeditions, your ultimate travel companion for discovering the world’s most captivating destinations. Our mission is to provide you with expert insights, practical tips, and inspiring recommendations to make your travels unforgettable.
      h2 Who we are
      p 
        | We are a team of passionate travel enthusiasts, writers, and explorers dedicated to sharing our love for travel with you. With years of experience exploring diverse cultures, hidden gems, and breathtaking landscapes, we bring you authentic and up-to-date information to help you plan your next adventure.
      h3 What we do
      p 
        | At Epic Expeditions, we offer comprehensive guides and travel advice on a wide range of destinations. From the bustling streets of Tokyo to the serene beaches of Goa, our in-depth articles, curated itineraries, and local tips are designed to enhance your travel experience. Whether you're a seasoned traveler or planning your first trip, we provide the resources you need to navigate your journey with ease.



